
.todo-item {
    display: inline-block;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    padding: 20px 20px 0;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    letter-spacing: 1px;
  }

.todo-item input[type=radio] {
  font-size: 30px;
  cursor: pointer;
}

.todo-item input[type=radio]:focus {
  outline: 0;
}

.todo-item input:focus {
  outline: none;
}

.tag {
  border-radius: 5px;
  border-color: #ffffff00;
  font-family: Inter;
  color: white;
  transform: translateY(-50%);
}

.again-button {
  height: 25px;
  width: 25px;
  position: absolute;
  transform: translateY(-175%);
  left: 72%;
}

.hard-button {
  height: 25px;
  width: 25px;
  position: absolute;
  transform: translateY(-175%);
  left: 80%;
}

.good-button {
  height: 25px;
  width: 25px;
  position: absolute;
  transform: translateY(-175%);
  left: 88%;
}

.again-button:checked + .again-button::after {
  background-color: #ff0000;
  border-color: #ff0000;
}